@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados del scrollbar para la clase .custom-scrollbar usada en App.jsx */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* color slate-300 aprox */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* color slate-400 aprox */
}